$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./bootstrap-custom";
@import "~bootstrap/scss/bootstrap";

// Responsive text

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 24px;
  }
}

body {
  background-color: black;
  margin-top: 7%;
  font-size: 10px;
}

@media (min-width: 768px){
  body {
    font-size: 16px;
  }
}

.blockquote {
  font-family: 'Special Elite', cursive;
  font-size: 120%;
  quotes: "\201C" "\201D";
  border-left: 0;
  min-height: 10vw;
}

#quote {
  font-size: 200%;
  color: #DDD;
  opacity: 1;
  transition: opacity 2s;
}

#author {
  font-size: 150%;
  opacity: 1;
  transition: opacity 1s 2s
}

.faded {
  opacity: 0 !important;
  transition: opacity 1s !important;
}

#quote-buttons {
   min-height: 50px;
}

@media (min-width: 768px){
  #quote-buttons {
    min-height: 85px;
  }
}

.btn {
  color: #666;
  background-color: black;
  font-size: 300%;
  padding-left: 0;
  padding-right: 0;
  outline: none;
}

// .btn.faded {
//   opacity: 0 !important;
//   transition: opacity 1s !important;
// }

#tweet-button {
  outline: none;
  opacity: 1;
  transition: opacity 1s 4s;
}

#refresh-button {
  outline: none;
  opacity: 1;
  transition: opacity 1s 4.5s;
}
